asgiref==3.11.1
dataclasses==0.6
Django==4.2
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnspython==2.8.0
gunicorn==26.0.0
packaging==26.2
PyJWT==2.12.1
pymongo==4.17.0
python-dotenv==1.2.2
pytz==2026.2
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.12.0
